@import '../../../../styles/partials/colors';

.ui.modal.PsychologyEdit {
  @media only screen and (min-width: 1200px) {
    width: 750px;
    margin: 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    span {
      font-weight: 500;
    }
  }
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 767px) {
      padding: 12px !important;
    }
  }
  .PsychologyEdit__toggle-container {
    display: flex;
    span {
      margin: 0 0 0 10px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .PsychologyEdit__content {
    padding: 20px 50px;
    max-height: 400px;
    overflow-y: auto;
    @media (max-width: 414px) {
      padding: 10px 20px;
    }
    .ListItems {
      &__item-hoverable,
      &__item {
        padding: 10px 10px 20px 10px;
      }
    }
  }
}
