.ProfilePageAvatar {
  .CircularProgressBar {
    width: 170px;
    height: 170px;
    margin-bottom: 10px;
  }
  .CircularProgressBar__content {
    width: 175px !important;
    height: 175px !important;

    > svg {
      width: 180px !important;
      height: 180px !important;
    }
  }

  /* TODO: These styles break the guidelines of not styling
    component children, but we'd need to refactor the Avatar
    component in order to not have to.
  */
  .CircularProgressBar__children {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
  }

  &__user-avatar {
    background-color: #f2f2f2;
    border-radius: 50%;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    overflow: hidden;
    position: absolute;
    &:hover {
      .edit-avatar {
        display: flex;
      }
    }

    .edit-avatar {
      display: none;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 24px;
      color: #fd8f25;
      line-height: 155px;
      text-align: center;
    }
  }
}
