@import '../../../styles/partials/colors';

.Calendar {
  &__week-month,
  &__week-week {
    display: flex;
    padding-bottom: 15px;
  }
  &__week-container {
    max-height: 540px;
    overflow-y: auto;
  }
  &__agenda-view {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 700px;
    position: relative;
    border-top: 1px solid #7f8fa4;
  }
  &__agenda-view::-webkit-scrollbar {
    width: 6px;
  }
  &__load-btn.ui.button {
    font-weight: 500;
    padding: 10px;
  }
  &__month-day {
    flex: 1;
    padding-bottom: 10px;
    &:not(:last-of-type) {
      .Calendar__month-title {
        border-right: 1px solid #d0d0d0;
      }
    }
    .calendar-icon.c-health-fitness {
      top: 0;
    }
  }
  &__month-title {
    border-top: 1px solid #d0d0d0;
    margin-bottom: 10px;
    padding-top: 5px;
    height: 32px;
    font-weight: 500;
    &.today {
      background-color: #3fc4ff;
      color: white;
    }
  }
  &__week-day {
    flex: 1;
    display: flex;
    flex-direction: column;
    &:not(:last-of-type) {
      .WeekEvent {
        border-right: solid 1px #d0d0d0;
      }
    }
    border-bottom: solid 1px #d0d0d0;
  }
  &__week {
    display: flex;
    color: #afbcc4;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 12px 20px;
    text-transform: uppercase;
    background-color: #f3f4f5;
    &:not(:first-of-type) {
      margin-top: -21px;
    }
    & + .AgendaDay {
      margin-top: 10px;
    }
  }
  &__week-title {
    border-top: solid 1px #7f8fa4;
    border-bottom: solid 1px #7f8fa4;
    padding: 10px 0;
    color: #7f8fa4;
    font-size: 14px;
    font-weight: 500;
    &.today {
      background-color: #3fc4ff;
      color: white;
    }
  }
  @media screen and (max-width: 768px) {
    &__week-week {
      flex-wrap: wrap;
      border-top: solid 1px #d0d0d0;
    }
    &__week-day {
      flex-direction: row;
      min-width: 100%;
      &:not(:last-of-type) {
        .WeekEvent {
          border-right: none;
        }
      }
    }
    &__week-title {
      min-width: 55px;
      max-width: 55px;
      border: none;
    }
  }
}
