@import '../../../styles/partials/colors';

.DayDropdownInput {
  &.ui.dropdown {
    color: #545454;
    font-family: $rubik;
    font-size: 14px;
    font-weight: 400;
    div.text.default {
      color: #7f8fa4;
    }
    .menu.visible {
      max-height: 200px;
      overflow-y: auto;
      div.item {
        background-color: transparent;
        border: none;
        padding-left: 35px !important;
        &.selected {
          margin-top: 0;
        }
        &:hover {
          background-color: #f3f4f8 !important;
        }
      }
      span {
        color: #5c5d5d;
        font-family: $montserrat;
        font-size: 14px;
        font-weight: 500;
      }
      .active:before {
        content: '✓';
        width: 1em;
        height: 1em;
        margin-right: 0.3em;
        color: $primary-color;
        position: absolute;
        left: 10px;
      }
    }
  }
}
