@import '../../../styles/partials/colors';

.BasicPersonalInfo {
  display: flex;
  .ui.input {
    width: 100%;
    & > input {
      margin: 0 7px 15px 0;
      font-weight: 400;
      font-family: $rubik, 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
  }
  &__details {
    flex: 1;
    margin-right: 5px;
  }
  &__location-placeholder {
    color: #7e8ea6;
    font-size: 14px;
    margin-left: 10px;
    line-height: 24px;
    font-style: italic;
  }
  &__inline {
    &.error {
      border: solid $red-color 1px;
      padding: 5px;
      margin-right: 8px;
      border-radius: 5px;
    }
    &:not(:only-child) {
      &:last-of-type {
        margin-top: 15px;
      }
    }
    &-entries {
      font-weight: 600;
    }
    > span:first-child {
      font-family: $rubik;
      margin-right: 5px;
    }
    a {
      text-decoration: underline;
      cursor: pointer;
      margin-left: 15px;
    }
  }
  .error-text {
    color: #9e3a39;
    margin: 0 0 10px 0;
  }
  &__description {
    flex: 1;
    .field {
      height: 100%;
    }
    &.error textarea {
      border: solid $red-color 1px;
      background: #fef6f6;

      &::-webkit-input-placeholder {
        color: #9e3938;
      }
      &:-moz-placeholder {
        color: #9e3938;
      }
      &:-moz-placeholder {
        color: #9e3938;
      }
      &:-ms-input-placeholder {
        color: #9e3938;
      }
      &::placeholder {
        color: #9e3938;
      }
    }
    textarea {
      width: 100%;
      border: 1px solid rgba(34, 36, 38, 0.15);
      border-radius: 0.28571429rem;
      padding: 10px;
      font-family: $rubik, 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      color: rgba(0, 0, 0, 0.87);
      resize: none;
      height: 100%;
      font-weight: 400;

      &::-webkit-input-placeholder {
        color: #cacaca;
        font-weight: 600;
      }
      &:-moz-placeholder {
        color: #cacaca;
        font-weight: 400;
      }
      &:-moz-placeholder {
        color: #cacaca;
        font-weight: 400;
      }
      &:-ms-input-placeholder {
        color: #cacaca;
        font-weight: 400;
      }
      &::placeholder {
        color: #cacaca;
        font-weight: 400;
      }
    }
  }
}
