.PlanBehaviors {
  max-width: 180px;
  .ui.dropdown.error > .menu > .item:hover {
    background-color: transparent;
  }
  .selected {
    margin-top: 0;
  }
  textarea {
    margin-left: 20px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    padding: 0.67857143em 1em;
    border-radius: 0.28571429rem;
    height: 38px;
    max-height: 100px;
    font-family: Montserrat;
    resize: vertical !important;
    color: rgba(0, 0, 0, 0.87);
    &::-webkit-input-placeholder {
      color: #c7c7c7;
    }
    &:-moz-placeholder {
      color: #c7c7c7;
    }
    &:-moz-placeholder {
      color: #c7c7c7;
    }
    &:-ms-input-placeholder {
      color: #c7c7c7;
    }
    &::placeholder {
      color: #c7c7c7;
    }
    &.error {
      background-color: #fff6f6;
      border-color: #e0b4b4;
      color: #9f3a38;
      &::-webkit-input-placeholder {
        color: #e6bdbc;
      }
      &:-moz-placeholder {
        color: #e6bdbc;
      }
      &:-moz-placeholder {
        color: #e6bdbc;
      }
      &:-ms-input-placeholder {
        color: #e6bdbc;
      }
      &::placeholder {
        color: #e6bdbc;
      }
    }
  }
  .habit-content {
    margin-left: 0;
    width: 100%;
    margin-bottom: 10px;
    .SignupHabits__options {
      flex-direction: column;
      .ui.dropdown.error > .default.text,
      .ui.dropdown.error > .text {
        color: #e6bdbc;
      }
      > div.ui.search {
        margin-left: 0;
        &:nth-child(2) {
          margin-top: 10px;
        }
      }
    }
  }
}
