@import '../../../styles/partials/colors';

#dashboard {
  font-family: $montserrat;

  h2 {
    text-align: center;
    color: #5c5d5d;
    font-family: $montserrat;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .popup-trigger {
    display: flex;
    flex: 1;
    justify-content: center;
    h2 {
      display: inline;
    }
  }
  .recommended-title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 80px;
  }
  .dashboard-h2 {
    font-weight: 500;
  }
  .dashboard-quick-add {
    max-width: 959px;
    margin: 60px auto 0 auto;
    @media only screen and (max-width: 767px) {
      .ui.container {
        margin: 70px 0 50px 0 !important;
      }
    }
  }
  .dashboard__title {
    margin-top: 40px;
    h2 {
      margin-bottom: 20px;
    }
    .accountability-score {
      display: none;
    }
    .avatar-container {
      display: none;
      position: relative;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      overflow: hidden;
      right: 15px;
      background-color: white;
    }
    @media screen and (max-width: 761px) {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      margin-top: 10px;
      .avatar-container {
        display: block;
      }
      h2 {
        font-size: 18px;
        margin-bottom: 0;
        line-height: 18px;
        margin-top: 7px;
      }
      .accountability-score {
        display: flex;
        width: 75px;
        margin: 0;
        padding: 5px;
        border-radius: 5px;
        .score {
          font-size: 16px;
        }
        img {
          height: 16px;
        }
      }
    }
  }
  .category {
    &.health-fitness span {
      color: $health-fitness-color;
    }
    &.learn span {
      color: $learn-color;
    }
    &.life span {
      color: $life-color;
    }
    &.work span {
      color: $work-color;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
  .category-identifier {
    color: #5c5d5d;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
  }

  .specifics {
    color: #7f8fa4;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    align-items: baseline;
    .GMBMarkdown {
      display: flex;
      img {
        max-width: 200px;
        max-height: 200px;
      }
      ul {
        padding-inline-start: 7px;
        margin: 0 0 0 10px;
      }
      blockquote {
        margin-inline-start: 10px;
        margin-block-start: 2.5px;
        margin-block-end: 2.5px;
      }
    }
    > a {
      &:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }

  .countdown {
    color: #5c5d5d;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    margin-top: 5px;
  }
}
