.ProfileFormLocation {
  &__find-btn-field .ui.button,
  &__locate-btn-field .ui.button {
    font-weight: 600;
    height: 100%;
  }

  &__map-container {
    position: relative;
    width: 100%;
    padding-top: 65%;
  }

  &__map-element {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  @media screen and (min-width: 768px) {
    &__map-container {
      padding-top: 50%;
    }
    &__find-btn-field {
      margin-left: auto !important;
    }
  }
}
