.ui.button.gmb-primary {
  background-color: #ff8f00;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  border: none;

  &.mr10 {
    margin-right: 10px;
  }

  i.icon {
    color: white;
  }

  &.buddy-request {
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 6px;
    font-weight: 500;
    &.mt-45 {
      margin-top: 45px;
    }
    &.nm {
      margin-top: 0;
    }
    &.h-12 {
      height: 3rem;
    }
  }

  &.invite-user {
    margin-left: 50px;
    margin-top: 25px;
  }
}
