// region Base colors
$primary-color: #fd8f25;
$muted-color: #7f8fa4;
$verified-color: #39b54a;
// endregion

// region Category colors
$health-fitness-color: #3cd6ab;
$life-color: #ebce41;
$work-color: #ef6a78;
$learn-color: #bb64ca;
// endregion

// region Border colors
$light-border-color: #f3f3f3;
$dark-border-color: #dfdfdf;
// endregion

// region Text colors & family
$light-text-color: #f3f3f3;
$dark-text-color: #5c5d5d;
$gray-light: #b0b0b1;
$montserrat: Montserrat, sans-serif;
$rubik: Rubik, 'Times New Roman', Times, serif;
$gotham-bold: Gotham Bold, sans-serif;
$fontawesome: FontAwesome, sans-serif;
// endregion

//region News Feed colors
$icon-active-color: #26ade8;
//endregion

//region Other colors
$light-background-color: #f2f2f2;
//endregion

//region traffic lights
$green-color: #82ca31;
$yellow-color: #f2be43;
$red-color: #de3e47;
$light-green-color: #b3ef61;
$light-yellow-color: #faef82;
$light-red-color: #e3a1a4;
//endregion

// hover colors
$primary-color-hover: darken($primary-color, 10%);
$health-fitness-color-hover: darken($health-fitness-color, 10%);
$life-color-hover: darken($life-color, 10%);
$work-color-hover: darken($work-color, 10%);
$learn-color-hover: darken($learn-color, 10%);
