.font-small {
    font-size: 10px;
}

.fitness-background {
    background: $health-fitness-color;
}

.fitness-color {
    color: $health-fitness-color;
}

.custom-input {
  border: 1px solid #DFE3E9;
  padding: 5px;
  border-radius: 5px;
}
