.opacity-04 {
  opacity: 0.4;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-danger {
  color: #dc3545 !important;
}

.text-success {
  color: #28a745 !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

.inline {
  display: inline-block;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

.flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
