@import '../../../styles/partials/colors';

.MDEEditor {
  margin-top: 5px;
  .quill {
    background-color: white;
  }
  .ql-disabled {
    background-color: #f2f2f2;
  }
  .ql-toolbar.ql-snow {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0;
  }
  .ql-snow .ql-tooltip {
    bottom: 0;
    top: unset !important;
    left: 10px !important;
  }
  .ql-container.ql-snow {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    max-height: 150px;
    overflow-y: auto;
    min-height: 80px;
  }
  .ql-formats {
    &:nth-child(1),
    &:nth-child(4) {
      display: none;
    }
  }
}
