@import '../../../styles/partials/colors';

.PopupEventDetails {
  cursor: pointer;
  &.ui.popup:before,
  &.ui.left.center.popup:before,
  &.ui.right.center.popup:before {
    background: #e2e7ee;
    box-shadow: none;
  }
  &.ui.popup {
    color: #5c5d5d;
    font-weight: 500;
    background: #e2e7ee;
    border-color: #e2e7ee;
    min-width: 300px;
    padding: 10px 10px 5px 10px !important;
    &.top {
      margin-bottom: 2px;
    }
    &.bottom {
      margin-top: -2px;
      margin-right: -10px;
    }
  }
  &__avatar {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
  }
  &__flash {
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    line-height: 17px;
    border-radius: 10px;
    padding: 0 10px;
    background-color: #4e72f1;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
    overflow: hidden;
    i {
      margin-left: -2px;
    }
  }
  &__username {
    text-align: left;
    span {
      color: #5c5d5d;
      font-size: 10px;
      font-weight: 600;
      line-height: 19px;
    }
  }
  &__plan {
    text-align: right;
    span {
      background-color: #7ea0cb;
      border-radius: 7px;
      color: #ffffff;
      font-size: 10px;
      font-weight: 500;
      line-height: 21px;
      padding: 2px 5px;
    }
  }
  &__datetime {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 19px;
    color: #5c5d5d;
    text-align: left;
    margin-bottom: 7px;
    span {
      color: #4e72f1;
    }
  }
  &__header {
    font-size: 10px;
    /*text-transform: uppercase;*/
    font-weight: 600;
  }
  &__title {
    span {
      color: #5c5d5d;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }
  }
  &__location {
    color: #7f8fa4;
    font-size: 11px;
    font-weight: 500;
    line-height: 21px;
    > div:first-of-type {
      width: 85px;
    }
    span {
      color: #5c5d5d;
    }
  }
  &__milestone {
    color: #7f8fa4;
    font-size: 11px;
    font-weight: 500;
    line-height: 21px;
    > div:first-of-type {
      width: 85px;
    }
    .description {
      color: #5c5d5d;
      span {
        color: #3cd6ab;
        margin-left: 5px;
      }

      .offTrack {
        color: #e66464;
      }
    }
  }
  &__description {
    color: #7f8fa4;
    font-size: 11px;
    font-weight: 500;
    line-height: 21px;
    height: auto;
    margin-bottom: 10px;
    > div:first-of-type {
      width: 85px;
    }
    .specifics {
      color: #5c5d5d;
      word-wrap: break-word;
      margin-top: 3px;
      .GMBMarkdown {
        color: #5c5d5d;
        font-size: 11px;
        font-weight: 500;
        line-height: 21px;
        p {
          margin: 0;
          text-align: left;
        }
        li {
          line-height: 14px;
        }
      }
    }
  }
  &__specifics-markdown {
    color: #5c5d5d;
    font-size: 11px;
    font-weight: 500;
    line-height: 21px;
  }
  &__divider {
    width: 100%;
    height: 1px;
    background-color: #d0d0d0;
  }
  &__footer {
    color: #7f8fa4;
    font-size: 11px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    width: 50%;
    span {
      color: #5c5d5d;
      font-size: 11px;
      font-weight: 500;
      line-height: 21px;
    }
  }
  &__body {
    font-weight: 400;
    font-size: 11px;
    margin-top: 5px;
  }
  &__actions {
    margin-top: 10px;
    display: flex;
    cursor: pointer;
    a {
      font-size: 12px;
      &:hover {
        text-decoration: underline;
        color: $primary-color;
      }
    }
  }
}
