.BuddySearch {
  float: left;
  width: 100%;
  background-color: white;
  .BuddySearchControls {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 767px) {
    background-color: transparent;
    .ui.stackable.column.grid .column {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
