.CircularProgressBar {
  position: relative;
  width: 212px;

  &__content {
    transform: rotate(180deg);

    &-background,
    &-progress {
      fill: none;
    }

    &-background {
      stroke: #d6d6d6;
    }

    &-progress {
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }

  &__children {
    height: 83%;
    width: 83%;
    position: absolute;
    left: 21px;
    top: -20px;
  }

  &__tooltip {
    &.rc-tooltip {
      .rc-tooltip-content {
        .rc-tooltip-arrow {
          border-right-color: #e8e7e7;
        }

        .rc-tooltip-inner {
          background-color: #e8e7e7;
          border: none;
          p {
            margin: 0px;
            text-align: center;
            color: #535353;
            &:first-child {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
