.BetaInvitation {
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .ui.segment {
      padding: 30px;
      margin-top: 100px;
    }
    h2 {
      font-weight: 600;
      max-width: 450px;
    }
    .ui.form .inline.field > :first-child.m-top-10 {
      margin-top: 10px;
    }
    .ui.form .field {
      label {
        font-weight: 600;
      }
    }
  }

  &__terms {
    margin-top: 30px;
    width: 300px;
    .ui.checkbox label {
      color: #636b6f;
    }
  }
  &__join {
    margin-top: 20px;
  }
  &__accident {
    margin-top: 10px;
    a {
      margin-left: 5px;
      cursor: pointer;
    }
  }
}
