@import '../../../../styles/partials/colors';

.RegisterGroupSelect {
  display: flex;
  flex-direction: column;
  align-items: center;

  .ui.input input {
    margin-left: 0;
  }
  .selected {
    margin: 32px 0;
  }

  &__switch-form-btn {
    color: $primary-color;
    outline: none;
    border: none;
    padding: 0;
    background: none;
    font-weight: 700;
    cursor: pointer;
  }
}

.RegisterGroupSelect__search-input.ui.search {
  > .results {
    width: 400px;
    max-height: 320px;
    overflow-y: auto;
  }
}
