@import '../../../styles/partials/colors';
.RadioInput {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  .ui.radio.checkbox input:checked ~ label:before {
    border-color: #e6840b;
  }
  .ui.radio.checkbox label {
    line-height: 1.3;
    font-family: $rubik;
    color: #5c5d5d;
    font-size: 14px;
    font-weight: bold;
  }
  li:not(:last-of-type) {
    margin-right: 45px;
  }
  li {
    display: flex;
  }
}
