@import '../../../styles/partials/colors';

.NewGroupPlacesSearch {
  .flex-col {
    position: relative;
  }

  .ui.icon.input > i.icon {
    height: 40px;
    margin-right: 10px;
  }

  &__search-list {
    position: absolute;
    top: 43px;
    z-index: 999;
    border: solid 1px #cacaca;
    background-color: white;
    margin-right: 7px;
  }

  &__loading {
    padding: 10px;
  }

  &__add {
    padding: 10px;
    color: #ff8f00;
    font-family: $rubik;
    font-size: 14px;
    cursor: pointer;
    z-index: 99990099999999999999;
    font-weight: 400;
  }

  &__item,
  &__item--active {
    padding: 10px;
    cursor: pointer;

    &:not(:last-of-type) {
      border-bottom: solid 1px #cacaca;
    }
  }

  &__item:hover {
    background-color: #fafafa;
  }

  &__item--active {
    background-color: #fafafa;
  }
}
