.NewAnnouncementt {
  width: 100%;
  padding: 40px;
  textarea {
    width: 100%;
    resize: none;
    border: 1px solid #dfe3e9;
    border-radius: 5px;
    padding: 12px 100px 12px 16px;
    &::-webkit-input-placeholder {
      color: #7f8fa6;
    }
    &:-moz-placeholder {
      color: #7f8fa6;
    }
    &:-moz-placeholder {
      color: #7f8fa6;
    }
    &:-ms-input-placeholder {
      color: #7f8fa6;
    }
    &::placeholder {
      color: #7f8fa6;
    }
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    button.ui.button {
      height: 27px;
      padding: 0 20px;
      font-weight: 500;
      &:last-of-type {
        margin: 0 0 0 10px;
      }
    }
  }
}
