@import '../../../styles/partials/colors';

.ProfilePageHeader {
  font-size: 16px;

  &__top-actions {
    display: flex;
    justify-content: flex-end;
  }
  .incomplete {
    box-shadow: 0 1px 3px 0 #ff1919, 0 0 0 1px #ff1919;
  }

  &__basic-info {
    &.incomplete {
      padding: 6px 0 0 10px;
    }
  }
  &__right-buttons {
    display: flex;
    align-items: center;
    margin: 0 0 4px auto;
    @media screen and (max-width: 767px) {
      margin: 15px 0 0 0;
      justify-content: center;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      .ChatRequest__trigger.ui.button,
      .InviteToAGroup {
        width: 100%;
        margin: 0;
      }
      .InviteToAGroup__trigger.ui.button {
        margin-left: 0;
        width: 100%;
      }
      .InviteToAGroup {
        margin-top: 15px;
      }
      > span {
        font-size: 12px;
      }
    }
  }
  &__name {
    font-family: $montserrat;
    color: #5c5d5d;
    font-size: 36px;
    margin: 0;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
  }

  &__share-profile {
    cursor: pointer;
    color: #767676;
    @media screen and (max-width: 767px) {
      margin-top: 15px;
    }
  }

  &__location,
  &__languages,
  &__member-since {
    margin: 18px 0;
  }

  &__gender-age {
    white-space: nowrap;
  }

  &__location {
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: center;
    display: flex;
    align-items: center;
    &.incomplete {
      svg {
        width: 80%;
        height: 80%;
        @media screen and (max-width: 992px) {
          padding: 2px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &__languages {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: -4px;
    &.incomplete {
      margin-left: 0;
    }
    > span {
      color: $primary_color;
    }
  }

  &__language {
    padding: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden;
  }

  &__language-name,
  &__language-proficiency {
    flex: 1;
    text-align: center;
  }

  &__language-proficiency {
    font-size: 12px;
    margin-left: 4px;
    color: $muted-color;
  }

  &__member-since {
    font-size: 12px;
    font-weight: 500;
  }

  &__languages-divider {
    display: none;
  }

  @media screen and (min-width: 768px) {
    &__name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre;
    }
    &__gender-age {
      margin-bottom: 4px;
    }
    &__copied-link,
    &__member-since {
      margin: 0 0 0 auto;
    }
    &__location {
      margin: 0 0 8px;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
    }
    &__member-since {
      white-space: nowrap;
    }
    &__languages {
      justify-content: flex-start;
    }
    &__language-name,
    &__language-proficiency {
      text-align: left;
    }
    &__languages-location {
      margin-right: 16px;
    }
  }

  @media screen and (min-width: 992px) {
    &__location {
      margin: 0;
    }
    &__languages {
      justify-content: center;
      align-items: flex-start;
    }
    &__language-name,
    &__language-proficiency {
      text-align: center;
    }
    &__languages-divider {
      border-left: 1px solid rgba(34, 36, 38, 0.15);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      display: block;
      margin: 0 8px;
    }
  }
}

.ProfilePageHeader--editable {
  .ProfilePageHeader__location-edit.ui.button,
  .ProfilePageHeader__languages-edit.ui.button,
  .ProfilePageHeader__settings-edit {
    background: none !important;
  }

  .ProfilePageHeader__location-edit.ui.button {
    padding: 0 4px 0 0;
  }

  @media screen and (min-width: 992px) {
    .ProfilePageHeader__location .flag {
      display: inline-block;
    }

    .ProfilePageHeader__languages-edit.ui.button {
      padding: 6px;
    }
  }
}
